<html>
  <head>
    <title>Vue.js Pet Store</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <style></style>
  </head>

  <body>
    <div id="app"> 
            <!-- Header -->
            <nav class="navbar navbar-dark bg-dark">
              <a href="shop.html" class="navbar-brand">{{appName}}</a>
              <!-- <button
                class="btn btn-outline-success my-2 my-sm-0"
                v-if="!showProduct"
              >
                <i class="fa fa-cart-plus"></i> {{cartItem}}
              </button> -->
              <!-- <button
                class="btn btn-outline-danger my-2 my-sm-0"
                @click="checkout"
                v-if="!showProduct"
              >
                <i class="fa fa-arrow-left"></i> Go back
              </button> -->
              
              <!-- <button
                class="btn btn-outline-warning my-2 my-sm-0"
                @click="checkout"
                v-else
              >
                <i class="fa fa-cart-plus"></i> <span>{{cartItem}}</span> Cart
              </button> -->
            </nav>
            <!-- Header Ends -->
            <div class="d-flex" v-if="showProduct">
              <!-- Sorting -->
              <!-- <div class="mr-5 mt-5">
                <h5>Sort Items</h5>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="price"
                    value="price"
                    class="custom-control-input"
                    v-model="sortBy"
                  />
                  <label class="custom-control-label font-weight-bold" for="price"
                    >Price</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="subject"
                    value="subject"
                    class="custom-control-input"
                    v-model="sortBy"
                  />
                  <label class="custom-control-label font-weight-bold" for="subject"
                    >Subject</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="location"
                    value="location"
                    class="custom-control-input"
                    v-model="sortBy"
                  />
                  <label class="custom-control-label font-weight-bold" for="location"
                    >Location</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="item"
                    value="item"
                    class="custom-control-input"
                    v-model="sortBy"
                  />
                  <label class="custom-control-label font-weight-bold" for="item"
                    >Availability</label
                  >
                </div>
                <div class="mt-5">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      id="ascending"
                      value="1"
                      class="custom-control-input"
                      v-model="orderBy"
                    />
                    <label class="custom-control-label font-weight-bold" for="ascending"
                      >Ascending</label
                    >
                  </div>
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      id="descending"
                      value="-1"
                      class="custom-control-input"
                      v-model="orderBy"
                    />
                    <label class="custom-control-label font-weight-bold" for="descending"
                      >Descending</label
                    >
                  </div>
                </div>
              </div> -->
              <!-- sorting Ends -->
              
                <!-- Displaying all products -->
              <div class="container-fluid row">
                <div v-for="(product, index) in products" class="card border-4 border border-primary mb-4" id="content">
                  <img v-bind:src="product.image" class="rounded mx-auto d-block img-fluid" />
                  <div>
                    <h3>Topic: {{product.subject}}</h3>
                    <h3>Location: {{product.location}}</h3>
                    <h3>Price: {{product.price}}</h3>
                    <h3>
                      Items Remaining: {{product.numberOfSpace}}
                    </h3>
                  </div>
                  <!-- <div>
                    <button
                      v-on:click="addToCart(lesson)"
                      class="btn btn-success"
                      v-if="addLesson(lesson)"
                    >
                      Add to Cart
                    </button>
                    <h5
                      class="text-danger"
                      v-if="lesson.numberOfSpace === cartCount(lesson.id)"
                    >
                      Sold out
                    </h5>
                  </div> -->
                </div>
              </div>
            </div>
      
            <div v-else>
              <h5>Cart</h5>
              <div class="form-inline" v-for="(item, index) in cart">
                <div class="form-group mx-sm-3 mb-2">
                  <span class="mr-2">{{item.subject}}</span>
                  <input v-model="item.qty" class="form-control mr-2" />
                  <button class="btn btn-danger">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
      
              <h5>Checkout</h5>
              <div>
                <form>
                  <div class="form-group mx-sm-3">
                    <label for="exampleInputEmail1">Name</label>
                    <input
                      v-model.trim="user.name"
                      type="text"
                      class="form-control col-md-6"
                      aria-describedby="emailHelp"
                      required
                    />
      
                    <label for="exampleInputPassword1">Phone Number</label>
                    <input
                      v-model.trim="user.number"
                      type="number"
                      class="form-control col-sm-6"
                      required
                    />
                  </div>
                  <button
                    class="btn btn-primary"
                    v-if="user.name && user.number"
                    @click="order"
                  >
                    Checkout
                  </button>
                </form>
              </div>
            </div>
          </div>
        </body>
    
    </div>


    <script type="text/javascript">
      const lesson = new Vue({
        el: "#app",
        data: { 
          products: [],
          appName: "Bookstore",
          showProduct: true,
        },
        created: function () {
          // this function will be run automatically
          // when creating the Vue instance
          fetch("http://localhost:4000/collection/lesson").then(function (res) {
            res.json().then(function (results) {
              // save the returned JSON object to 'product'
              // note that we used 'lesson.product' instead of 'this.product'
              lesson.products = results;
            });
          });
        },
      });
    </script>
  </body>
</html>
